<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to Phoenix!</title>
    <link phx-track-static="" rel="stylesheet" href="/assets/app.css">
    <script defer="" phx-track-static="" type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="/" class="phx-logo">
          <img src="/images/phoenix.png" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main class="container">
      <section class="phx-hero">
        <p>The server encountered an unexpected condition that prevented it from fulfilling the request.</p>
        <img src="/images/500.png" alt="500 page"/>
      </section>
    </main>
  </body>
</html>
